@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav start */
.container-navbar {
    width: 100%;
    background-color: #3B3030;
    position: fixed;
    z-index: 100;
}

.container-navbar nav {
    width: 1350px;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.container-navbar nav .logo {
    display: flex;
}

.container-navbar nav .logo img {
    width: 100px;
}

.container-navbar nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.container-navbar nav ul li {
    list-style-type: none;
}

.container-navbar nav ul li a {
    text-decoration: none;
    font-family: "open sans";
    color: white;
    font-size: 12px;
}

.container-navbar nav ul li a:hover {
    color: darkgrey;
}

.container-navbar nav .menu-icon {
    display: none;
}

.container-navbar nav .menu-icon i {
    color: white;
    font-size: 30px;
    display: none;
}

@media (max-width : 1350px) {
    .container-navbar {
        width: 100%;
        background-color: #3B3030;
        position: fixed;
        z-index: 100;
    }

    .container-navbar nav {
        width: 100%;
        padding: 20px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container-navbar nav ul {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #3B3030;
        gap: 0;
        overflow: hidden;
    }

    .container-navbar nav ul li {
        padding: 20px;
    }

    .container-navbar nav .menu-icon {
        display: block;
    }

    .container-navbar nav .menu-icon i {
        color: white;
        font-size: 30px;
        display: block;
    }

    #menuList {
        transition: all 0.5s;
    }
}
/* nav end */

/* artikel star */
@media (min-width: 1280px) {
.konten-desc {
    margin: auto;
    width: 60%;
}

.konten-desc h2 {
    font-family: "open sans";
}

.konten-desc p {
    font-family: "open sans";
    text-align: justify;
    font-size: 14px;
}
}

@media (min-width: 360px) and (max-width: 1279px) {
    .konten-desc {
        margin: auto;
        width: 90%;
    }
    
    .konten-desc h2 {
        font-family: "open sans";
    }
    
    .konten-desc p {
        font-family: "open sans";
        text-align: justify;
        font-size: 14px;
    }
}
/* artikel end */

/* Footer Start */
@media (min-width: 1280px) {
    .container-footer {
        background-color: black;
        width: 100%;
        overflow: hidden;
    }

    .container-footer .footer {
        /* background-color: teal; */
        display: flex;
        flex-wrap: nowrap;
        width: 1100px;
        margin: auto;
        
    }

    .container-footer .footer .kiri {
        /* background-color: brown; */
        width: 340px;
        padding: 20px;
    }

    .container-footer .footer .kiri h3 {
        color: white;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kiri p {
        color: white;
        font-family: "open sans";
        font-size: 12px;
    }

    .container-footer .footer .kiri .logo {
        margin-top: 20px;
        margin-bottom: 30px
    }

    .container-footer .footer .kiri .logo img {
        width: 95px;
        margin-right: 30px;
    }

    .container-footer .footer .kiri h4 {
        color: white;
        font-family: "open sans";
        margin-bottom: 20px;
    }

    .container-footer .footer .kiri a {
        background-color: white;
        color: rgb(170, 170, 232);
        padding: 10px 50px;
        border-radius: 5px;
        text-decoration: none;
    }

    .container-footer .footer .kanan {
        /* background-color: cadetblue; */
        width: 1000px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }

    .container-footer .footer .kanan .teater-lingkar {
        border-top: 6px solid white;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .teater-lingkar h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .teater-lingkar a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .ikuti-kami {
        border-top: 6px solid #FFC926;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .ikuti-kami h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .ikuti-kami a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .kegiatan-kami {
        border-top: 6px solid #E00408;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .kegiatan-kami h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .kegiatan-kami a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .kunjungi-kami {
        border-top: 6px solid #2904E0;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .kunjungi-kami h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .kunjungi-kami a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .pustaka-kesenian {
        border-top: 6px solid #E07204;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .pustaka-kesenian h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .pustaka-kesenian a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .copyright {
        border-top: 2px solid white;
        width: 1100px;
        margin: auto;
        padding-top: 10px;
        display: flex;

    }

    .container-footer .copyright p {
        color: white;
        font-size: 12px;
        width: 20%;
    }

    .container-footer .copyright .sosmed {
        align-content: center;
        text-align:end ;
        width: 80%;
    }

    .container-footer .copyright a {
        color: white;
    }
}

@media (min-width: 720px) and (max-width: 1279px) {
    .container-footer {
        background-color: black;
        width: 100%;
        overflow: hidden;
    }

    .container-footer .footer {
        /* background-color: teal; */
        width: 90vw;
        margin: auto;
        
    }

    .container-footer .footer .kiri {
        /* background-color: brown; */
        width: 340px;
        padding: 20px;
        margin-bottom: 60px;
    }

    .container-footer .footer .kiri h3 {
        color: white;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kiri p {
        color: white;
        font-family: "open sans";
        font-size: 12px;
    }

    .container-footer .footer .kiri .logo {
        margin-top: 20px;
        margin-bottom: 30px
    }

    .container-footer .footer .kiri .logo img {
        width: 100px;
        margin-right: 30px;
    }

    .container-footer .footer .kiri h4 {
        color: white;
        font-family: "open sans";
        margin-bottom: 20px;
    }

    .container-footer .footer .kiri a {
        background-color: white;
        color: rgb(170, 170, 232);
        padding: 10px 50px;
        border-radius: 5px;
        text-decoration: none;
    }

    .container-footer .footer .kanan {
        /* background-color: cadetblue; */
        width: 100%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }

    .container-footer .footer .kanan .teater-lingkar {
        border-top: 6px solid white;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .teater-lingkar h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .teater-lingkar a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .ikuti-kami {
        border-top: 6px solid #FFC926;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .ikuti-kami h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .ikuti-kami a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .kegiatan-kami {
        border-top: 6px solid #E00408;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .kegiatan-kami h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .kegiatan-kami a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .kunjungi-kami {
        border-top: 6px solid #2904E0;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .kunjungi-kami h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .kunjungi-kami a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .pustaka-kesenian {
        border-top: 6px solid #E07204;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .pustaka-kesenian h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .pustaka-kesenian a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .copyright {
        border-top: 2px solid white;
        width: 90vw;
        margin: auto;
        padding-top: 10px;
        display: flex;

    }

    .container-footer .copyright p {
        color: white;
        font-size: 12px;
        width: 20%;
    }

    .container-footer .copyright .sosmed {
        align-content: center;
        text-align:end ;
        width: 80%;
    }

    .container-footer .copyright a {
        color: white;
    }
}

@media (min-width: 360px) and (max-width: 719px) {
    .container-footer {
        background-color: black;
        width: 100%;
        overflow: hidden;
    }

    .container-footer .footer {
        /* background-color: teal; */
        width: 1100px;
        margin: auto;
        
    }

    .container-footer .footer .kiri {
        /* background-color: brown; */
        width: 340px;
        padding: 20px;
        margin-bottom: 60px;
    }

    .container-footer .footer .kiri h3 {
        color: white;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kiri p {
        color: white;
        font-family: "open sans";
        font-size: 12px;
    }

    .container-footer .footer .kiri .logo {
        margin-top: 20px;
        margin-bottom: 30px
    }

    .container-footer .footer .kiri .logo img {
        width: 100px;
        margin-right: 30px;
    }

    .container-footer .footer .kiri h4 {
        color: white;
        font-family: "open sans";
        margin-bottom: 20px;
    }

    .container-footer .footer .kiri a {
        background-color: white;
        color: rgb(170, 170, 232);
        padding: 10px 50px;
        border-radius: 5px;
        text-decoration: none;
    }

    .container-footer .footer .kanan {
        /* background-color: cadetblue; */
        width: 300px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }

    .container-footer .footer .kanan .teater-lingkar {
        border-top: 6px solid white;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .teater-lingkar h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .teater-lingkar a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .ikuti-kami {
        border-top: 6px solid #FFC926;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .ikuti-kami h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .ikuti-kami a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .kegiatan-kami {
        border-top: 6px solid #E00408;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .kegiatan-kami h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .kegiatan-kami a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .kunjungi-kami {
        border-top: 6px solid #2904E0;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .kunjungi-kami h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .kunjungi-kami a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .footer .kanan .pustaka-kesenian {
        border-top: 6px solid #E07204;
        width: 200px;
        padding-top: 10px;
    }

    .container-footer .footer .kanan .pustaka-kesenian h4 {
        color: white;
        font-size: 18px;
        font-family: "open sans";
        margin-bottom: 10px;
    }

    .container-footer .footer .kanan .pustaka-kesenian a {
        color: white;
        font-size: 12px;
        font-family: "open sans";
        text-decoration: none;
    }

    .container-footer .copyright {
        border-top: 2px solid white;
        width: 300px;
        margin: auto;
        padding-top: 10px;
        display: flex;

    }

    .container-footer .copyright p {
        color: white;
        font-size: 10px;
        width: 50%;
    }

    .container-footer .copyright .sosmed {
        align-content: center;
        text-align:end ;
        width: 50%;
    }

    .container-footer .copyright a {
        color: white;
    }
}
/* Footer End */